nav{
    width: 100%;
    height: 112vh;
    background-image: url(../../img/bg-i.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    .containerr{
        padding-left: 250px;
        padding-right: 250px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        display: flex;
        align-items: center;
       
        img{
            width: 140px;
            height: 34px;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .nav-menu{
            display: none;
        }
        a{
            text-decoration: none;
            color: #ffff;
        }
    }
    h2{
        text-align: center;
        color: #D4C17F;
        font-size: 48px;
        padding-top: 270px;
    }
    .nav-mous{
        width: 23px;
        height: 40px;
        border: 2px solid #D4C17F;
        border-radius: 20px;
        margin: 80px auto;
        display: flex;
        justify-content: center;
        .nav-mous-line{
            margin: 5px;
            width: 2px;
            height: 9px;
            border-radius: 5px;
            border: 2px solid #D4C17F;
        }
    }
    .nav-info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        color: #ffff;
        padding-top: 120px;
        .nav-info-location{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
        .nav-info-tel{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
    }
    .nav-info{
        padding-top: 70px;
    }
}


@media (max-width: 448px){
    nav{
        background-position: center;
        .containerr{
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
        .nav-menu{
            display: block;
            font-size: 20px;
            color: #ffff;
        }
        ul{
            display: none;
        }
    }
    .nav-info{
        display: block;
        padding-top: 120px;
    }
    h2{
        font-size: 30px;
        padding-top: 100px;
    }
}
}
@media (min-width: 449px) and (max-width: 720px){
    nav{
        height: 100vh;
        background-position: center;
        .containerr{
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 30px;
        .nav-menu{
            display: block;
            font-size: 30px;
            color: #ffff;
        }
        ul{
            display: none;
        }
    }
    .nav-mous{
        margin: 60px auto;
    }
    .nav-info{
        padding-top: 100px;
        gap: 40px;
        
    }
    h2{
        font-size: 35px;
        padding-top: 100px;
    }
}
}

@media (min-width: 721px) and (max-width: 1200px){
    nav{
        height: 100vh;
        background-position: center;
        .containerr{
            padding-left: 100px;
            padding-right: 100px;
            padding-top: 30px;
        ul{
        gap: 20px;
        }
    }
    .nav-mous{
        margin: 80px auto;
    }
    .nav-info{
        padding-top: 20px;
        gap: 20px;
    }
    h2{
        padding-top: 130px;
    }
}
    
}